<div id="conteudo">
  <div id="geral">
    <h1><span>Viagem para o Japão no Mundial de Clubes da Fifa</span></h1>
    <div id="meio">
      <h2>Quer ganhar uma viagem <br />para o mundual de Clubes da Fifa?</h2>
      <p class="titulo">Regulamento</p>
      <p class="subtitulo">Sobre a Promoção</p>
      <p>A promoção "Quer Ganhar uma Viagem para o Japão?", é realizada pelo Clube Atlético Mineiro</p>
      <ul>
        <li>A Promoção terá início no dia 02 de julho de 2016 às 00:00hs, Horário de Brasília, e prazo final no dia 07 de Setembro de 2016 às 23:59hs.</li>
        <li>A Promoção tem por objetivo premiar UM participante com uma viagem com acompanhante para Buenos Aires, na Argentina.</li>
        <li>O reconhecimento do vencedor será através do e-mail cadastrado.</li>
        <li>O vencedor será aquele que tiver os 6 (seis) dígitos da sequência numérica recebida, idênticos aos números das 3 últimas dezenas sorteadas no sorteio de número 1386 da Mega-Sena do dia 05/05/2012</li>
        <li>A data da viagem será decidida após o resultado da promoção, diretamente com o vencedor e a equipe do Hotel Urbano, sujeito à disponibilidade da passagem aérea e do Hotel.</li>
        <li>A promoção é aberta somente às pessoas maiores de 18 anos.</li>
      </ul>
      <p class="subtitulo">Como Participar</p>
      <ul>
        <li>Para participar, os usuários devem se cadastrar através do hotsite da promoção. Após preencher os campos de e-mail e estado, o participante deve apertar o botão "Quero Viajar" e receberá uma sequência numérica de 6 (seis) dígitos por e-mail.</li>
        <li>A equipe do Hotel Urbano recomenda que todos os participantes guardem a sequência numérica recebida.</li>
        <li>O resultado será enviado por e-mail no dia 07/05 com a sequência numérica sorteada e o nome do vencedor.</li>
      </ul>
      <p class="subtitulo">Critério de Participação</p>
      <ul>
        <li>Poderão participar da promoção todas as pessoas físicas maiores de 18 anos.</li>
        <li>Excluem-se da participação as pessoas jurídicas, pessoas menores de 18 anos, sócios e empregados do Hotel Urbano, bem como das demais empresas envolvidas na realização desteconcurso.</li>
      </ul>
      <p class="subtitulo">Desclassificação</p>
      <ul>
        <li>O participante que utilizar de subterfúgios tecnológicos a fim de tentar fraudar a Promoção será desclassificado pelo Hotel Urbano. O Hotel Urbano é soberano sob qualquer contestação.</li>
        <li>O participante será desclassificado desta promoção em caso de fraude comprovada, participação através da obtenção de benefício/vantagem de forma ilícita ou pelo não cumprimento de quaisquer das condições deste regulamento.</li>
      </ul>
      <p class="subtitulo">Premiação</p>
      <ul>
        <li>A Promoção tem por objetivo premiar UM participante com uma viagem com acompanhante para Buenos Aires, na Argentina.</li>
        <li>O prêmio inclui 3 Diárias para 2 Pessoas em um Hotel padrão 3 estrelas em Buenos Aires, na Argentina com passagem aérea. A saída pode ser do Rio de Janeiro, São Paulo, Curitiba ou Porto Alegre.</li>
        <li>O vencedor pode escolher qualquer data até o mês de Outubro, sujeito à disponibilidade do Hotel e da passagem aérea, com exceção de feriados.</li>
        <li>Cada usuário poderá se cadastrar apenas uma vez e receberá apenas uma sequência numérica de 6 (seis) dígitos.</li>
        <li>O resultado da promoção se dará através do sorteio de número 1386, realizado pela Mega-Sena que acontecerá no dia 05 de maio de 2012 às 20:30h, Horário de Brasília.</li>
        <li>O vencedor será aquele que tiver os 6 (seis) dígitos da sequência numérica recebida, idênticos aos números das 3 últimas dezenas do resultado do sorteio da Mega-Sena, na ordem do sorteio.</li>
        <li>Caso nenhum participante tenha a sequência numérica com os 6 (seis) dígitos idênticos as 3 últimas dezenas do sorteio da Mega-Sena, o vencedor será aquele que tiver a milhar mais próxima a milhar do número do resultado da Mega-Sena. (mais próximos para mais ou para menos.) Em caso de empate entre o número maior e o número menor, ganhará o número maior.</li>
        <li>Exemplo: A ordem do sorteio da Mega-Sena foi 05-12-25-14-54-32. Caso os números recebidos pelo participante tenha sido 145432, ele é o vencedor. Caso nenhum participante tenha recebido esse número, o vencedor será aquele que tiver o número mais próximo para cima ou para baixo (ex: 145431 ou 145433, assim por diante). Por fim, caso dois participantes tenham esses dois números, o vencedor será quem tiver o maior, nesse caso 145433.</li>
        <li>O resultado será enviado por e-mail para todos os participantes no dia 07/05 com a sequência numérica vencedora e o nome do vencedor.</li>
        <li>Para receber o prêmio, o vencedor deverá informar os seus dados pessoais por e-mail para a equipe do Hotel Urbano.</li>
        <li>Os prêmios são pessoais e intransferíveis, não sendo, ainda, permitida a troca destes por dinheiro ou por qualquer outro produto.</li>
        <li>A premiação é válida em todo território nacional.</li>
      </ul>
      <p class="subtitulo">Considerações Finais</p>
      <ul>
        <li>Os participantes, no ato de inscrição na Promoção e adesão a este regulamento, autorizam a divulgação de seu nome, bem como o uso gratuito em qualquer tipo de mídia, peças promocionais e campanhas on-line, pelo prazo de 05 (cinco) anos, a contar da data de início desta Promoção, sem fazer jus a qualquer pagamento do Hotel Urbano.</li>
        <li>Os participantes declaram possuir todas as autorizações necessárias para permitir a inserção e veiculação das imagens pelo Hotel Urbano.</li>
        <li>Se o Hotel Urbano vier a ser condenado em ação contra ele movido por terceiros que tenham suas imagens exibidas em virtude da presente autorização, obriga-se o participante a ressarcir toda e qualquer despesa incorrida pelo Hotel Urbano em razão dessa reclamação.</li>
        <li>O Hotel Urbano poderá suspender ou interromper definitivamente esta Promoção a qualquer tempo, ao seu exclusivo critério.</li>
        <li>As questões não previstas neste regulamento ou qualquer dúvida que possa surgir serão julgadas por uma comissão composta por 03 (três) representantes do Hotel Urbano, cujas decisões são soberanas e irrecorríveis. Participar desta Promoção implica na aceitação sem reservas deste regulamento.</li>
        <li>A participação nesta Promoção implica na aceitação total de todos os itens deste regulamento, que poderão ser alterado pelos seus organizadores tantas vezes quanto necessário, garantida a sua divulgação de forma eficaz, a critério, também, dos organizadores.</li>
        <li>Esta Promoção é exclusivamente recreativa, sem qualquer modalidade de sorteio, nem vinculação destes ou dos vencedores à aquisição ou uso de qualquer bem, direito ou serviço, promovido pelo Hotel Urbano de acordo com o artigo art. 3º, inciso II, da Lei nº 5.768/71 e art. 30 do Decreto- Lei nº 70.951/72.</li>
        <li><strong>Aplica-se a esta Promoção, incluindo, mas sem se limitar à sua divulgação, condução, às participações e às premiações, a legislação brasileira e fica eleito o foro central da capital doestado do Rio de Janeiro para dirimir quaisquer controvérsias oriundas desta.</strong></li>
        <li><em>Dúvidas não previstas neste regulamento manifestadas pelos participantes deverão ser enviadas para o e-mail: <a href="mailto:promocao@hotelurbano.com.br">promocao@hotelurbano.com.br</a> com o assunto "Promoção Buenos Aires" e serão avaliadas pela comissão julgadora, cuja decisão será informada diretamente aos mesmos. A participação na promoção implica em total ciência e aceitação deste regulamento que ficará disponível para consultas online.</em></li>
        <li>Desconsidere tudo que foi lido acima, esse sorteio é falso e não existe ganhador! Isso é uma iniciativa de um Atleticano que não pode falar com a esposa que gastou dinheiro com a viagem!</li>
      </ul>
    </div>
  </div>
</div>
</body>